<a
  href="#mpc-image"
  id="scroll-to-bottom"
  class="py-3 text-white px-4 text-2xl mt-3 bg-orange-600 justify-self-center
  font-bold rounded hover:bg-orange-100 dark:hover:bg-white dark:hover:border-transparent
  hover:text-orange-700
  transition-colors duration-300 ease-in-out border-2 border-orange-600"
>
  Scroll Down
</a>
